

/* Áp dụng cho Label có class="menu-label" */
.menu-label {
    -fx-background-color: #66CCCC;  /* Màu nền mặc định */     /* Quan trọng: loại bỏ khoảng cách thừa */
}

/* Hiệu ứng hover */
.menu-label:hover {
    -fx-background-color: #FFD700 !important; /* Màu nền khi hover */
    -fx-cursor: hand;                        /* Biến chuột thành bàn tay */
}

.now-label {
    -fx-background-color: #2E7D32;
}

.recThongTinNhanVien {
    -fx-fill: #66CCCC;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0.5, 0.0, 0.0);
    /* Xóa các thuộc tính bo góc nếu có */
    -fx-arc-width: 0;
    -fx-arc-height: 0;
}

.pnThongTinChuyenDi{
	-fx-effect: dropshadow(
	    gaussian,                        /* Kiểu shadow mờ */
	    rgba(0, 0, 0, 0.3),             /* Màu shadow (đen, 30% opacity) */
	    5,                              /* Bán kính blur */
	    0.5,                            /* Độ lan rộng */
	    0, 1                            /* Offset (x, y) */
	);
}

.btn-timChuyenTau{
	-fx-background-color: #66CCCC;
}

.btn-timChuyenTau:hover{
	-fx-background-color: #FFD700;
	-fx-cursor: hand;  
}

.btn-chonChuyenTau{
	-fx-background-color: #66CCCC;
}

.btn-chonChuyenTau:hover{
	-fx-background-color: #FFD700;
	-fx-cursor: hand;  
}

.btn-chonChuyenTauDangChon{
	-fx-background-color: #2E7D32;
}

.btn-chonChuyenTauDangChon:hover{
	-fx-background-color: #FFD700;
	-fx-cursor: hand;  
}

.pn-toa:hover{
	-fx-cursor: hand;  
}

.pn-giuong:hover{
	-fx-cursor: hand; 
}

.pn-ghe:hover{
	-fx-cursor: hand; 
}